<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - CarPool</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/css/login.css" />
  </head>

  <body>
    <div class="container">
      <p class="head">Welcome Back</p>
      <p class="head2">Sign in to continue</p>

      {% if messages %} {% for review in messages %}
      <input type="text" value="{{review.message}}" id="point" />
      {% endfor %}
      <script>
        const view = document.getElementById("point");
        view.className = "dialog";
        setTimeout(() => {
          view.className = "nothing";
        }, 3000);
      </script>
      {% endif %}

      <form action="/login/" method="post">
        {% csrf_token %}
        <div class="input-icon">
          <i class="fas fa-envelope"></i>
          <input
            type="email"
            name="email"
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
            placeholder="Email Address"
            title="Invalid Email Format"
            required
          />
        </div>

        <div class="input-icon">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            name="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
            placeholder="Password"
            required
          />
        </div>

        <button>LOGIN</button>
      </form>

      <div class="register-links">
        <p>Don't have an account?</p>
        <div class="register-buttons">
          <a href="/signup" class="register-btn">Sign Up as User</a>
          <a href="/dregister" class="register-btn">Sign Up as Driver</a>
        </div>
      </div>
    </div>
  </body>
</html>
