<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        const {id,type}=JSON.parse(sessionStorage.getItem('Store'))
        if(type=="user"){
            window.location.href='/userHome'
        }else if(type=="driver"){
            window.location.href='/driverHome'
        }else if(type=="admin"){
            window.location.href='/adminHome'
        }
    </script>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>
    <style>
        body {

            background-image:
                linear-gradient(rgba(53, 53, 8, 0.616), rgba(15, 14, 14, 0.863)),
                url('/static/img/spee.jpg');
        }
      
    </style>
    <div class="nothing">
        
    </div>
    {% if messages %}
    {%for review in messages %}
    <input type="text" value="{{review.message}}" id="point">
    {% endfor %}
    <script>
         const view=document.getElementById('point')
            view.className="dialog"
        setTimeout(()=>{
            view.className="nothing"
        },1000)
    </script>

    {% endif %}
    <div class="container">
        <div>
            <p class="head">Create A/c</p>
            <p class="head2">Welcome to CarPooling App ?</p>
            <form action="/signup/" method="post">
                {% csrf_token %}
            
            <input type="text" name="name" placeholder="Full Name" required> <br>
            <input type="text"name="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" placeholder="Email" title="Invalid Email Need in @gmail.com" required> <br>
            <input type="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Password" required> <br>

            <button>SIGN UP</button>
        </form>
            <div style="display: flex;margin-top: 30px;justify-content: center;align-items: center;color: white;">
                <p>Already have an account ?</p>
                <h3 style="margin-left: 10px;color: #ffd700;"  onclick="history.back()">Login</h3>
            </div>
        </div>

    </div>
</body>

</html>